body {
  background-color: #EEE8E4; }

/* about.html*/
#ad-about-banner-phone {
  display: none; }
  @media (max-width: 767px) {
    #ad-about-banner-phone {
      display: block; } }

#ad-about-banner {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 1920px;
  background-image: url(../images/abouts-banner-1.png); }
  @media (max-width: 767px) {
    #ad-about-banner {
      display: none; } }

#ad-about-banner:after {
  content: "";
  position: absolute;
  /*   width: 450px; */
  height: 400px;
  /*   background-color: red; */
  border-top: 0px solid #e5c3b2;
  border-bottom: 100px solid #EEE8E4;
  border-right: 1920px solid transparent; }
  @media (max-width: 767px) {
    #ad-about-banner:after {
      display: none; } }
  #ad-about-banner:after .about-banner {
    position: relative; }

#ad-about-banner-phone {
  display: none;
  position: relative;
  margin: 0 auto;
  height: 440px;
  width: 450px;
  background-image: url(../images/about-banner-1-phone.png);
  background-position: right center; }
  @media (max-width: 767px) {
    #ad-about-banner-phone {
      display: block; } }

#ad-about-banner-phone:after {
  display: none;
  content: "";
  position: absolute;
  /*   width: 450px; */
  height: 370px;
  /*   background-color: red; */
  border-top: 0px solid #e5c3b2;
  border-bottom: 80px solid #EEE8E4;
  border-right: 450px solid transparent; }
  @media (max-width: 767px) {
    #ad-about-banner-phone:after {
      display: block; } }
  #ad-about-banner-phone:after .ad-about-banner-phone {
    position: relative; }

#about-about-bg {
  margin: 0 auto;
  background-color: #EEE8E4; }
  @media (max-width: 767px) {
    #about-about-bg #about-article {
      width: 92%;
      margin-top: 0px;
      margin-left: 4%;
      margin-right: 4%; } }
  #about-about-bg li:first-child {
    float: left;
    width: 48%;
    margin-right: 2%; }
    @media (max-width: 767px) {
      #about-about-bg li:first-child {
        float: none;
        width: 92%;
        margin-top: 0px;
        margin-left: 4%;
        margin-right: 4%; } }
  #about-about-bg li:nth-child(2) {
    float: left;
    width: 50%; }
    @media (max-width: 767px) {
      #about-about-bg li:nth-child(2) {
        float: none;
        width: 92%;
        margin-top: 0px;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 10px;
        margin-bottom: 10px; } }

#about-article {
  margin: 30px 0px;
  margin-top: 60px; }
  #about-article .about-article-title {
    padding: 10px 0px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem; }
  #about-article h2 {
    font-family: 'EB Garamond', serif;
    color: #AE8E5D;
    margin-bottom: .5rem;
    margin-top: 1rem;
    font-size: 2rem; }
  #about-article span {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #444; }

#about-article-2 .about-article-title-2 {
  padding: 0px 0px; }

#about-article-2 h2 {
  color: #AE8E5D;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.6rem; }

#about-article-2 span {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #444; }

.about-article-3-img {
  margin: 30px auto; }
  @media (max-width: 767px) {
    .about-article-3-img {
      margin: 10px auto; } }
