.jewelry-bg h2, #shoes-bg h2 {
  font-family: 'EB Garamond', serif;
  color: #AE8E5D;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem; }

#ad-dress-banner-phone {
  display: none; }
  @media (max-width: 767px) {
    #ad-dress-banner-phone {
      display: block;
      margin: 0 auto;
      height: auto; }
      #ad-dress-banner-phone .dress-banner-phone {
        position: relative; } }

#ad-dress-banner {
  display: block;
  margin: 0 auto;
  height: 640px; }
  @media (max-width: 767px) {
    #ad-dress-banner {
      display: none; } }
  #ad-dress-banner .dress-banner {
    position: relative; }

#dress-bride-kind-bg h2 {
  font-family: 'EB Garamond', serif;
  color: #AE8E5D;
  margin-bottom: .5rem;
  margin-top: 30px;
  font-size: 2rem;
  margin-bottom: 30px;
  border-bottom: solid 1px #AE8E5D;
  padding-bottom: 20px; }

/*bride-kind*/
.bride-kind li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  /*width: 30%;
  margin-left: 5%;*/
  width: 32%;
  margin-left: 2%;
  text-align: center;
  border: solid 1px #9F9F9F; }
  @media (max-width: 767px) {
    .bride-kind li {
      float: none;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 20px; } }
  .bride-kind li h5 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #9F9F9F; }

.bride-kind li:first-child {
  margin-left: 0; }
  @media (max-width: 767px) {
    .bride-kind li:first-child {
      float: none;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }

/*bride-kind end*/
#dress-bride-kind-bg {
  margin: 40px auto; }
  @media (max-width: 767px) {
    #dress-bride-kind-bg {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }

@media (max-width: 767px) {
  .dress-slidesfrom_slickslider li {
    margin-bottom: 5px; } }

.jewelry-bg {
  margin: 0px auto;
  margin-top: 30px;
  background-color: #E8DDDD; }
  .jewelry-bg h2 {
    text-align: left;
    margin-top: 30px; }
  .jewelry-bg span {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #444; }
  @media (max-width: 767px) {
    .jewelry-bg {
      padding-top: 10px; } }
  .jewelry-bg .jewelry-content {
    margin-left: 20px; }
    @media (max-width: 767px) {
      .jewelry-bg .jewelry-content {
        margin-left: 0px;
        margin-bottom: 30px; } }
  .jewelry-bg .jewelry-content li {
    float: left;
    width: 50%; }
    @media (max-width: 767px) {
      .jewelry-bg .jewelry-content li {
        float: none;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; } }
  .jewelry-bg .jewelry-content li:first-child {
    width: 48%;
    margin-right: 2%; }
    .jewelry-bg .jewelry-content li:first-child img {
      margin-top: 20px; }
    @media (max-width: 767px) {
      .jewelry-bg .jewelry-content li:first-child {
        float: none;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; } }

#shoes-bg {
  margin: 0px auto;
  margin-top: 30px;
  background-color: #f5f3f4; }
  @media (max-width: 767px) {
    #shoes-bg {
      padding-top: 10px;
      padding-bottom: 20px; } }
  #shoes-bg h2 {
    text-align: left;
    margin-top: 30px;
    margin-left: 20px; }
  #shoes-bg span {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #444; }
  #shoes-bg .shoes-content li {
    float: right;
    width: 50%;
    margin-top: 30px; }
    @media (max-width: 767px) {
      #shoes-bg .shoes-content li {
        float: none;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; } }
  #shoes-bg .shoes-content li:last-child img {
    width: 95%;
    margin-left: 2.5%; }
