$system-color: #AE8E5D;
$match-color: #9F9F9F;
$match-color-2: #787878;
$white-color: #fff;
$title-font: 2rem;
$hit-font: 1.2rem;
$content-font: 1rem;
$littele-font: .8rem;

@mixin phone{
	@media(max-width: 767px){
	@content
	}
}

body{
	background-color: #EEE8E4;
}

/* about.html*/

#ad-about-banner-phone
{
  display: none;
  @include phone(){
  display: block;
  }
}
#ad-about-banner {
  margin: 0 auto;
  height: 640px; 
  @include phone(){
  	display: none;
  }
  .about-banner {
    position: relative; }
}

#about-about-bg{
	margin: 0 auto;
	background-color: #EEE8E4;
	#about-article{
	@include phone(){
	width: 92%;
	margin-top: 0px;
	margin-left: 4%;
	margin-right: 4%;
	}	
	}
	li:first-child{
		float: left; 
		width: 48%;
		margin-right: 2%;
		@include phone(){
		float:none;
		width: 92%;
		margin-top: 0px;
		margin-left: 4%;
		margin-right: 4%;;
		}
	}
	li:nth-child(2){
		float: left; 
		width: 50%;
		@include phone(){
		float:none;
		width: 92%;
		margin-top: 0px;
		margin-left: 4%;
		margin-right: 4%;
		margin-top: 10px;
		margin-bottom: 10px;
		}
	}
}


#about-article{
	margin: 30px 0px;
	margin-top: 60px;
	.about-article-title{
		padding: 10px 0px;
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
		//border: solid 1px red;
	}
	h2{
    	font-family: 'EB Garamond', serif;
    	color: $system-color;
		margin-bottom: .5rem;
		margin-top: 1rem;
		font-size: 2rem;
    }
	span{
		font-size: 1rem;
		line-height: 1.6rem;
		color: #444;
	}
}


#about-article-2{
	// margin: 30px 0px;
	.about-article-title-2{
		padding: 0px 0px;
		// margin-bottom: 1.5rem;
		// margin-top: 1.5rem;
		//border: solid 1px red;
	}
	h2{
    	color: $system-color;
		margin-bottom: .5rem;
		// margin-top: 1rem;
		font-size: 1rem;
		line-height: 1.6rem;
    }
	span{
		font-size: 1rem;
		line-height: 1.6rem;
		color: #444;
	}
}

.about-article-3-img{
	margin: 30px auto;
	@include phone(){
	margin: 10px auto;	
	}
}