.b-slider {
  $root: &;

  #{$root}__item {
    position: relative;
    vertical-align: middle;
	  display: none;
		&:first-child,
		.slick-initialized & {
			display: block;
		}
  }
  #{$root}__carousel {
    list-style: none;
    margin: 0;
    padding: 0;
  }

	// SLIDE
	.slick-slide {
	  outline: none;
	  img {
	    display: block;
	    width: 100%;
	    height: auto;
	  }
	}

  // ARROW
  .slick-arrow {
    // @include reset-btn;
    position: absolute;
    z-index: 9;
  }

  // SLIDER
  .slick-slider {
    &.slick-dotted ~ .slick-slider {
      display: none;
    }
    &.slick-vertical {
      .slick-slide {
        border: 0
      }
      .slick-arrow {
        left: 50%;
        transform: translateX(-50%);
        &[class*="left"],&[class*="prev"] {
          top: 0;
        }
        &[class*="next"],&[class*="next"] {
          bottom: 0;
        }
      }
    }
    &:not(.slick-vertical) {
      .slick-arrow {
        top: 50%;
        transform: translateY(-50%);
        &[class*="left"],&[class*="prev"] {
          left: 0;
        }
        &[class*="right"],&[class*="next"] {
          right: 0;
        }
      }
    }
  }

  // DOTS
  .slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 1;
    button {
      border: 0;
      margin: 0;
      padding: 0;
      font-size: 0 !important;
      line-height: 0 !important;
      display: block !important;
      outline: none;
    }
  }

  // @import "theme/horizontal-tm-1/layout";
  &--horizontal-tm-1 {
    $thumbs-offset: 10px;
    $thumbs-border: 3px;
    $thumbs-base-color: #7f7f7f;
    $thumbs-hover-color: #000;
    $thumbs-active-color: red;

    #{$root}__carousel--screen {
      a[data-fancybox] {
        cursor: zoom-in;
      }
      .slick-arrow.slick-arrow {
        font-size: 30px;
        opacity: .5;
        &[class*="left"],&[class*="prev"] {
          left: $thumbs-offset;
        }
        &[class*="right"],&[class*="next"] {
          right: $thumbs-offset;
        }
        &:hover {
          opacity: 1;
        }
      }
    }

    #{$root}__carousel--thumbs {
      overflow: hidden;
      margin-top: $thumbs-offset;
      padding: 0 50px; // или padding: 0;
      #{$root}__item {
        position: relative;
        &::after {
          // @include tsn-all;
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: $thumbs-border solid $thumbs-base-color;
        }
        &:hover::after {
          border-color: $thumbs-hover-color;
        }
        img {
          // @include tsn-all;
          opacity: .75;
          cursor: pointer;
        }
        &:hover {
          img {
            opacity: 1;
          }
        }
      }
      .slick-list {
        margin: 0 (-$thumbs-offset/2);
      }
      .slick-slide {
        & > * {
          padding: 0 ($thumbs-offset/2);
        }
      }
      .slick-current {
        img {
          opacity: 1;
        }
        #{$root}__item {
          position: relative;
          &::after {
            border-color: $thumbs-active-color;
          }
        }
      }
      .slick-arrow.slick-arrow {
        font-size: 30px;
        color: $thumbs-base-color;
        &[class*="left"],&[class*="prev"] {
          left: $thumbs-offset;
        }
        &[class*="right"],&[class*="next"] {
          right: $thumbs-offset;
        }
        &:hover {
          color: $thumbs-hover-color;
        }
      }
    }

    .slick-dots {
      margin: 15px 0 0;
      button {
        border-radius: 50%;
        background: $thumbs-base-color;
        width: 10px;
        height: 10px;
        margin: 0 5px;
      }
      .slick-active {
        button {
          background: $thumbs-active-color;
        }
      }
    }

    // больше отступа в теле статьи
    .b-entry-text & {
      // margin: ems($gutter-item * 3) 0;
    }
  
    @media (min-width: 1200px) {
      $thumbs-offset: 15px;
      #{$root}__carousel {
        .slick-arrow.slick-arrow {
          &[class*="left"],&[class*="prev"] {
            left: $thumbs-offset;
          }
          &[class*="right"],&[class*="next"] {
            right: $thumbs-offset;
          }
        }
      }
      #{$root}__carousel--thumbs {
        margin-top: $thumbs-offset;
        padding: 0 60px; // или padding: 0;
        .slick-list {
          margin: 0 (-$thumbs-offset/2);
        }
        .slick-slide {
          & > * {
            padding: 0 ($thumbs-offset/2);
          }
        }
      }
    }
    
  }

}
