$system-color: #AE8E5D;
$match-color: #9F9F9F;
$match-color-2: #787878;
$white-color: #fff;
$title-font: 2rem;
$hit-font: 1.2rem;
$bar-font: .8rem;
$content-font: 1rem;
$littele-font: .8rem;


@mixin phone{
	@media(max-width: 767px){
	@content
	}
}

body{
      font-family:  'Noto Sans TC', ‘cwTeXMing’, 'sans-serif', 
     "Microsoft JhengHei";
      }

a{
	text-decoration: none;
}

/*設定rem=16*/
html {
font-size: 16px;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

#gototop{
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
	cursor: pointer;
}

.top{
	padding: 15px 20px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	background: #d9d8d8;
	i{
	font-size: 1.5rem;
	font-weight: 300;
	}
}

.top:hover{
	color: #bbb;
	background: #fff;
}

#wrap{
	max-width: 1280px;
	margin: 0 auto;
}

/*bar*/

#bar{
	background-color: #e5e5e5;
    position: relative;
    margin-bottom: 0;
    min-height: 45px;
    background-size: cover;
	    .bar-box{
		margin: 0 auto;
		max-width: 1280px;
		padding: 10px 30px;
		padding-top: 15px;
		@include phone(){
		padding: 5px 10px;
		padding-top: 15px;
		}
			.bar-box-tel{
				float: left;
			}
			.bar-box-info{
				float: right;
			}
			li{
				float: left;
			}
			a{
				display: block;
				font-size: $bar-font;
				color: $match-color;
				padding-left: 10px;
			}
		}
}

/*nav*/

nav{
	background-color: #fff;
	position: relative;
	padding: 10px 30px;
	box-shadow: 0px 3px 6px #DBDBDB;
	z-index: 2;
	@include phone(){
	padding: 10px 10px;	
	}


}

#nav-box{
	margin: 0 auto;
	max-width: 1280px;
	padding: 0px 30px;
	@include phone(){
	padding: 0px 0px;	
	}
	.menu{
		float: right; 
		/*margin-top: 46px;*/
		@include phone(){
		background-color: #fff;
		max-height: 0px;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		top: 100px;
		left:0;
		right: 0;
		}
		li{
			float: left;
			@include phone(){
			padding-top: 6px;
			padding-bottom: 6px;
			float: none;
			border-bottom: solid 1px $match-color;
			}
		a{
			font-size: 1rem;
			line-height: 1.6rem;
			color: $match-color;
			letter-spacing: 4px;
			margin-left: 30px;
			@include phone(){
			text-align: center;
			display: block;
			margin: 0 auto;	
			}
		}
		a:hover{
			color: $system-color;
		}
		}
	}
	.logo{
		float: left;
		a{
			background: url(../images/logo.png);
			background-repeat: no-repeat;
			display: block;
			width: 184px;
			height: 80px;
			text-indent: 110%;
			white-space: nowrap;
			overflow: hidden;
			@include phone(){
			}
		}
	}
}



main{
	padding: 30px 0px;
}


footer{
	padding: 30px 10px;
}


#footer-bg{
	background-color: #ededed;
	/*border: solid 1px red;*/
}

.hr-style{
	height:1px;
	border:none;
	border-top:1px dashed $match-color-2;
}

.info-kind{
	color: $match-color-2;
	font-size: 1rem;
	line-height: 1.6rem;

	li{
		float: left;
		width: 21.25%;
		font-size: $littele-font;
		.info-title{
		font-size: $content-font;	
		}
	}
	li:first-child{
		margin-right: 5%;
	}
	li:nth-child(2){
		margin-right: 5%;
	}
	li:nth-child(3){
		margin-right: 5%;
	}
}

#copyright-bg{
	margin: 0 auto;
	background-color: #e6e6e6;
	font-size: $littele-font;
	text-align: center;
	color: $match-color-2;
	line-height: 2rem;
}

.showmenu{
	display: none;
	@include phone(){
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;	
	display: block;
	border: solid 1px $match-color;
	color: $match-color;
	font-size: $hit-font;
	text-align: center;
	width: 70px;
	padding-top: 25px;
	padding-bottom:  25px;
	}
}

	.menu-show.menu{
		max-height: 800px;
	}