$system-color: #AE8E5D; //金色
$match-color: #9F9F9F; //中灰
$match-color-2: #787878; //深灰
$white-color: #fff; //白
$skin-color: #F7F4F0; //膚灰
$title-font: 2rem;
$hit-font: 1.2rem;
$bar-font: .8rem;
$content-font: 1rem;
$littele-font: .8rem;

%title-h2{
  font-family: 'EB Garamond', serif;
    color: $system-color;
    text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: $title-font;
}

%span-hit{
  font-size: $hit-font;
  line-height: 1.6rem;
  color: #444;
  text-align: center;
  letter-spacing: .2rem;
}


@mixin phone{
  @media(max-width: 767px){
  @content
  }
}

#ad-dress-banner-phone
{
  display: none;
  @include phone(){
  display: block;
  margin: 0 auto;
  height:  auto;
  .dress-banner-phone {
  position: relative; }
  }
}
#ad-dress-banner {
  display: block;
  margin: 0 auto;
  height: 640px; 
  @include phone(){
  display: none;  
  }
  .dress-banner {
  position: relative; }
}

#dress-bride-kind-bg {
  h2 {
  font-family: 'EB Garamond', serif;
  color: #AE8E5D;
  margin-bottom: .5rem;
  margin-top: 30px;
  font-size: 2rem;
  margin-bottom: 30px;
  border-bottom: solid 1px #AE8E5D;
  padding-bottom: 20px;
}

 }

/*bride-kind*/
.bride-kind{
  //border: solid 1px red;
  //background-color: #000;

  li {
  box-sizing: border-box;
  float: left;
  /*width: 30%;
  margin-left: 5%;*/
  width: 32%;
  margin-left: 2%;
  text-align: center;
  border: solid 1px #9F9F9F; 
  @include phone(){
  float: none;
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  }
  h5 {
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #9F9F9F; }
  }
  li:first-child{
  margin-left: 0;
  @include phone(){
  float: none;
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  
  }
  }


}

/*bride-kind end*/


#dress-bride-kind-bg{
  margin: 40px auto;
  @include phone(){
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;  
  }
}

.dress-slidesfrom_slickslider li{
  @include phone(){
  margin-bottom: 5px;
  }
}

.jewelry-bg {
  margin: 0px auto;
  margin-top: 30px;
  background-color: #E8DDDD; 
    h2{
    @extend %title-h2;
    text-align: left;
    margin-top: 30px;
    }
    span{
    font-size: 1rem;
    line-height: 1.6rem;
    color: #444;
    }

  @include phone(){
  padding-top: 10px; 
  }
  .jewelry-content{
  margin-left: 20px;
  @include phone(){
   margin-left: 0px; 
  margin-bottom: 30px; 
  }
  }
  .jewelry-content li{
  float: left; 
  width: 50%;
  @include phone(){
  float: none;
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;

  }
  }
  .jewelry-content li:first-child{
  width: 48%;
  margin-right: 2%;
  img{
  margin-top: 20px;
  }
    @include phone(){
  float: none;
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  }

  }
}

#shoes-bg {
  margin: 0px auto;
  margin-top: 30px;
  background-color: #f5f3f4; 
  @include phone(){
  padding-top: 10px;
  padding-bottom: 20px;
  }
    h2{
    @extend %title-h2;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    }
    span{
    font-size: 1rem;
    line-height: 1.6rem;
    color: #444;
    }

  .shoes-content li{
  float: right; 
  width: 50%;
  margin-top: 30px;
  @include phone(){
  float: none;
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  }
  }
  .shoes-content li:last-child img{
      width: 95%;
      margin-left: 2.5%;
  }

  }









